.cover {
  background-color: var(--window-bg-color);
  border-radius: 6px;
}

.toolbar-text {
  margin-top: -6px;
  margin-bottom: -6px;
  min-height: 12px;
}

.toolbar-cover {
  border-radius: 9px;
}

.playlist {
  padding-top: 6px;
  padding-bottom: 6px;
}

.playlist > row {
  border-radius: 9px;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 2px;
  padding-top: 6px;
  margin-bottom: 2px;
  padding-bottom: 6px;
}
