.cover {
  background-color: var(--window-bg-color);
  border-radius: 6px;
}

.toolbar-text {
  margin-top: -6px;
  margin-bottom: -6px;
  min-height: 12px;
}

.toolbar-cover {
  border-radius: 9px;
}

.playlist {
  background-color: transparent;
  padding: 6px;
}

.playlist > row {
  border-radius: 9px;
  min-height: 48px;
}

.playlist > row > box {
  margin: 0px 9px;
  border-spacing: 6px;
}

.playlist > row > box > box{
  border-spacing: 3px;
}

.drop-row {
  border: 2px solid var(--accent-bg-color);
  padding: 0px;
}

.no-drop-highlight:drop(active) {
  box-shadow: unset;
}
